@tailwind preflight;
@tailwind components;
@tailwind utilities;
$vue-color = #4fc08d
$bg-color = darken(desaturate(hue($vue-color, 220deg), 50%), 60%)
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

body
  background-color $bg-color
  color desaturate(lighten($bg-color, 80%), 50%)

.search-box
  input
    border-color desaturate(lighten($bg-color, 30%), 30%)
    background-color $bg-color
    color desaturate(lighten($bg-color, 80%), 50%)
  .suggestions
    background-color desaturate(lighten($bg-color, 15%), 10%)
    border 0
  .suggestion
    a
      color desaturate(lighten($bg-color, 80%), 50%)

    &.focused
      background-color desaturate(lighten($bg-color, 30%), 30%)
      a
        color #fff

.algolia-search-wrapper
  .algolia-autocomplete
    .ds-dropdown-menu
      border: 0
      background-color desaturate(lighten($bg-color, 15%), 10%)

      &:before
        background-color desaturate(lighten($bg-color, 15%), 10%)
        border: 0;

@media (min-width: $MQMobile)
  .dropdown-wrapper
    .nav-dropdown
      background-color desaturate(lighten($bg-color, 15%), 10%)
      border 0

      .dropdown-item
        h4
          border-top-color desaturate(lighten($bg-color, 30%), 30%)

.sw-update-popup
  background-color desaturate(lighten($bg-color, 15%), 10%)
  border 0

.navbar
  border-bottom-color desaturate(lighten($bg-color, 10%), 10%)
  background-color $bg-color

  .site-name
    color #fff

  .links
    background-color $bg-color

.page-edit
  .edit-link
    a
      color desaturate(lighten($bg-color, 50%), 50%)

      &:hover,
      &:focus
        color #fff
  .last-updated
    .prefix
      color desaturate(lighten($bg-color, 50%), 50%)
    
    .time
      color desaturate(lighten($bg-color, 40%), 50%)

h2
  border-bottom-color desaturate(lighten($bg-color, 10%), 10%)

hr
  border-top-color desaturate(lighten($bg-color, 10%), 10%)

.page-nav
  .inner
    color desaturate(lighten($bg-color, 50%), 50%)
    border-top-color desaturate(lighten($bg-color, 10%), 10%)

.sidebar
  background-color $bg-color
  border-right-color desaturate(lighten($bg-color, 10%), 10%)

  .nav-links
    border-bottom-color desaturate(lighten($bg-color, 10%), 10%)

  a.sidebar-link
    color desaturate(lighten($bg-color, 80%), 50%)

    &:hover,
    &:focus,
    &.active
      color #fff

  .sidebar-heading
    color desaturate(lighten($bg-color, 80%), 50%)

    &.open,
    &:hover
      color #fff

.nav-links
  a
    color desaturate(lighten($bg-color, 80%), 50%)

    &:hover,
    &:focus,
    &.router-link-active
      color #fff